@{
    ViewData["Title"] = "Index";
}

<div>
    <img src = "@ViewBag.Disco.FotoUrl">
    <h1>@ViewBag.Disco.Titulo</h1>
    <p>@ViewBag.Disco.Artista</p>
    <p>@ViewBag.Disco.Productor</p>
    <p>@ViewBag.Disco.Genero</p>
    @for(int i = 0; i < ViewBag.Disco.Temas.Count; i++)
    {
        <h2>@ViewBag.Disco.Temas[i]</h2>
    } 
    
</div>